POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ficha_medica
DATABASE_URL=postgresql://postgres:postgres@db:5432/ficha_medica
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
